#item-panel {
  --gap: 2rem;
  --numCols: 5;
  gap: var(--gap);
  padding-inline: var(--gap);
  padding-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#item-panel:focus-visible {
  outline: none;
}

@media screen and (min-width: 769px) and (max-width: 1048px) {
  #item-panel {
    --gap: 1.5rem;
    --numCols: 4;
    padding-block: 1.5rem;
  }
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  #item-panel {
    --gap: 1rem;
    --numCols: 3;
  }
}

@media screen and (max-width: 548px) {
  #item-panel {
    --gap: 0.75rem;
    --numCols: 2;
  }
}
