.card {
  padding: 0;
  aspect-ratio: 1;
  width: calc((100% - ((var(--numCols) - 1) * var(--gap))) / var(--numCols));
}

.card-button {
  padding: 4px;
  border: none;
  height: 100%;
  width: 100%;
}

.card-image {
  display: block;
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
